uWSGI==2.0.20
boto3==1.24.78
dj-rest-auth==2.2.5
django-allauth==0.51.0
Django==4.0.4
django-cors-headers==3.13.0
django-filter==22.1
django-import-export==3.3.1
django-modeltranslation==0.18.4
django-storages==1.13.1
django-unique-upload==0.2.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
djangorestframework-gis==1.0
django-map-widgets==0.4.0
django-smart-selects==1.6.0
drf-yasg==1.21.3
Pillow==9.2.0
python-decouple==3.6
django-cities-light==3.9.2 # https://github.com/yourlabs/django-cities-light
django-solo==2.0.0
psycopg2-binary==2.9.3 # https://github.com/psycopg/psycopg2
django-unfold==0.8
django-lifecycle==1.0.0
django-silk==5.0.3
django-colorfield==0.8.0
rq==1.15.0
django-rq==2.8.1
django_cron==0.6.0
channels==4.0.0
daphne==4.0.0
channels_redis==4.0.0
pytest-django
whitenoise